.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dialog-button{
    width: 120px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.mat-dialog-title{
    display: flex;
    align-items: center;
    justify-content: center;
}