<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>...error 404...</mat-card-title>
      <mat-card-subtitle>Lo siento, no podemos encontrar esa página. Pero no te preocupes, todo sigue siendo INCREÍBLE.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/logoBiotrust.jpg" alt="logo Biotrust">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <a href="home"></a>
        <button mat-button><a href="login">ir al Inicio</a></button>
    </mat-card-actions>
  </mat-card>
</div>
