<div class="main-container">

  <div class="div-page-title">
    <h2>Equipos en Taller</h2>
  </div>

  <div class="div-button-back">
    <button mat-fab color="primary" aria-label="" (click)="backClicked($event)" class="button-back">
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </button>
  </div>
  <div class="table-container">

    <div class="div-table-mp">

      <div class="div-label-total">
        <h4>Total de Equipos en taller: {{totalDeEquipos}} </h4>
      </div>
      
      <mat-form-field appearance="standard">
        <mat-label>Buscar...</mat-label>
        <input matInput (keyup)="applyFilterI($event)" placeholder="Tipo de equipo, marca, modelo" #input>
      </mat-form-field>
      
      <!--TABLE EQUIPOS EN TALLER-->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-mp">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- FechaET Column -->
        <ng-container matColumnDef="fechaET">
          <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaET}} </td>
        </ng-container>

        <!-- EquipoET Column -->
        <ng-container matColumnDef="equipoET">
          <th mat-header-cell *matHeaderCellDef> Equipo </th>
          <td mat-cell *matCellDef="let element"> {{element.equipoET}} </td>
        </ng-container>

        <!-- ServicioET Column -->
        <ng-container matColumnDef="servicioET">
          <th mat-header-cell *matHeaderCellDef> Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.servicioET}} </td>
        </ng-container>

        <!-- EstadoET Column -->
        <ng-container matColumnDef="estadoET">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estadoET}} </td>
        </ng-container>

        <!-- DiasET Column -->
        <ng-container matColumnDef="diasET">
            <th mat-header-cell *matHeaderCellDef> Días en Taller </th>
            <td mat-cell *matCellDef="let element"> {{element.diasET}} </td>
          </ng-container>

      </table>
    </div>
  </div>

  <div class="spinner-container" *ngIf="isShowingSpinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
